body {
    font-family: Helvetica Neue, Helvetica, Arial, "sans-serif";
    background: #eee;
    color: #fff;
    font-size: 1em;
    background-image: url(../img/bg.jpg);
    background-position: 50% 50%;
    background-size: 45%;
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #efe9ea;
    opacity: .7;
    z-index: -1
}

.rounded {
    border-radius: 50%;
}

a {
    color: #68e89e;
}

.main-content {
    padding-top: 2em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-content img {
    width: 150px;
    height: 150px;
}

.main-content__site-title {
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 20px;
}

.main-content__site-title,
h2,
p {
    background: #68e89e;
    padding: 10px;
}

.main-content__list {
    margin: 0;
    list-style: none;
    padding: 0;
    background: #fff;
    padding: 1em 2em;
    max-width: 300px;
    width: 100%;
}

.main-content__list li {
    margin-bottom: 15px;
}